body {
  font-size: 18px;
  line-height: 1.66667;
  color: #222;
}

/* -------------------------- */
/* Container */
.container-fluid {
  max-width: 1760px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media  (max-width: 1200px) {
  .container-fluid, .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 768) {
  .container-fluid, .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* ------------------------- */
/* Aspect Ratio Box 
.aspectRatioBox {
  padding-top: calc(2/3 * 100%);
  background-size: cover;
  background-position: center;;
}

.aspectRatioBox_small {
  padding-top: calc(1 / 1 * 100%);
  background-size: cover;
  background-position: center;
}


/*---------------------------------*/

/* Row Gutters 

.custom-gutter > [class='col-'] {
  padding-right: 8px;
  padding-left: 8px;
}

@media (min-width: 768px) {
  .customGutter_category > [class='col-'] {
    padding-right: 6px;
    padding-left: 6px;
  }
}
/*-----------------------------*/

/* Navigation Bar */
.navbar-brand {
  font-size: 24px;
}

/*------------------------------*/

/* Hero and LatestNews */

.hero-wrapper {
  margin-top: 40px;
  margin-left: 5px;
}

.postTeaser_title {
  font-size: 22px;
  line-height: 1.125;
  padding-top: 4px;
  display: block;
}

/* Hero-sub */
.herosub_wrapper {
  margin-top: 48px;
  margin-bottom: 27px;
}

@media (max-width: 768px) {
  .hero-wrapper {
    margin-top: 48px;
  }
}

.hero_img img  {
  width: 864px !important;
  height: 453px !important;
  
}

@media (min-width: 1200px) {
  .hero_img img {
    width: 814px;
    height: 543px;
  } 
}

/* Latest News */
.latestNews_image img {
  image-rendering: crisp-edges;
  border-radius: 8px;
  width: 152px;
  height: 152px;
}


  .latestNews_text b {
  font: 16px Cereal, sans-serif;
  display: flex;
  padding-right: 10px;
  font-weight: bold;
}


.latestNews_date {
  font-size: 14px;
  line-height: 1.28571;
}

.postTeaser_title {
  font-size: 26px;
}

.latestNews_header {
  font-size: 32px;
}

.latestNews_title {
  font-size: 16px;
  padding-left: 5px;
}


@media (min-width: 992px) {
  .latestNews_title {
    font-size: 16px;
    line-height: 1.28571;
  }
  .latestNews_image img {
    width: 95px;
    height: 99px;
  }
}


/* Follow us wrap */
.followUs_wrapper {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 80px;
  position: relative;
}

/* Vertical divider */
.followUs_vrWrap {
  height: 100%;
  position: relative;
}

.followUs_vr {
  width: 1px;
  height: calc(100% - 28px);
  margin: auto;
  background-color: #ddd;
}

/* Follow us inner */
.followUs_title {
  font-size: 32px;
  line-height: 1.125;

}

.followUs_text {
  font-size: 16px;
  line-height: 1.5;
}

.followUs_icons {
  font-size: 21px;
}

.followUs_icons a:hover {
  text-decoration: none ; 
}

@media (max-width: 1200px) {
  .postTeaser_title {
    font-size: 26px;
  }

  .latestNews_header{
    font-size: 26px;
  }

  .latestNews_title {
    font-size: 16px;
    line-height: 1.25;
  }

  .latestNews_date {
    font-size: 12px;
    line-height: 1.33333;
  }

  .followUs_title {
  font-size: 26px;
  line-height: 1.15385;
  }
}

@media (max-width: 992px) {
  .latestNews_title {
    font-size: 146x;
    line-height: 1.28571;
  }
  .followUs_wrapper {
    margin-left: 0px !important;
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    margin-top: 48px;
  }
  .postTeaser_title {
    font-size: 22px;
    line-height: 1.18182;
  }

  .followUs_text {
    font-size: 14px;
    line-height: 1.42857;
  }

  .followUs_wrapper {
    margin-bottom: 48px;
  }
  
  .heroSub_wrapper {
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  .heroSub_wrapper {
    margin-top: 80px;
  }
}

/* The future of travel */
.blackBackground {
  margin-right: -100px;
  margin-right: -10px;
}

.postSlider_header {
  padding: 5px;
  margin-left: 2px; 
  font-weight: bold;
}

.postSlider_text {
  font: 18px Cereal, sans-serif;
  padding-top: 4px;
  margin-left: 2px;;
}

.cardSlider_image img {
  border-radius: 15px;
  margin-left: 2px;
}

.cardSlider_text {
  font: 22px Cereal, sans-serif;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 2pc;
  font-weight: bold;
  text-decoration: none;
}

.cardSlider_date {
  font: 14px Cereal, sans-serif;
  margin-left: 2px;
  padding-bottom: 2px;
  padding-top: 3px;
  font-weight: bold;
}



/* ----------------------------- */
/* Categories */

button .rounded-pill {
  border-style: solid;
}

.categoryTitle  a { 
  font: 16px Cereal, sans-serif;
  font-weight: bold;
  display: block; 
}

.categoryTitle a:hover {
  text-decoration: underline;
}

.moreButton {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .catogoryButtons a {
    font-size: 12px;
  }

  .categoryImage_wrap{
    flex: 1 1 9;
    margin-right: 12px;;
  }
  
  .categoryHeader_wrap {
    flex: 1 1 0;
  }
  
  .categoryTitle a {
    font-size: 16px;
    line-height: 1.28571;
  }
  
  .categoryDate {
    font-size: 14px;
    line-height: 1.33333;
  }
}

/* --------------------------------- */
/* Newsletter */
.newsletterWrap {
  margin-left: -50px;
  margin-right: -50px;
}

.newsletterInner {
  background-color: #000;;
}

/* Image Overlay */
.newsletterImage_wrap, .newsletterImage {
  height: 100%;
}

/* Sign-up */
.newsletterSignUp {
  width: 66.6666%;
  padding: 132px 0;
}

.newsletterHeader {
  font-size: 26px;
  line-height: 1.15385;;
}

@media (max-width: 992px) {
  .newsletterImage_wrap {
    width: 100%;
    height: 0;
    padding-bottom: 66.666%;
  }
}

.newsletterSignUp {
  padding: 48px 24px;
  width: 100%;
}

@media (min-width: 1440px) {
  .newsletterWrap {
    max-width: 1760px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

.newsletterInner {
  border-radius: 12px;
  overflow: hidden;;
}

.newsletterHeader {
  font-size: 32px;
  line-height: 1.125;
}

.newsletterImage img {
  width: 763px !important;
  height: 508 !important;
  object-fit: fill; 
}

/* ---------------------------- */
/* Footer */

footer { 
  background-color: #f7f7f7;;
}

/* footer nav */
.footerColumn_title {
  font-size: 12px;
  padding: 3px;
}

.footerColumn a {
  font-size: 14px;
}

.footerColumn a:hover {
  text-decoration: underline;
}

.footerColumn li {
  font-size: 14px;
  line-height: 1.28571;
}

/* DISCLAIMER */

.disclaimer h5 {
  font-size: 12px;
}

.disclaimer p {
  font-size: 10px;
  display: inline-block;
  
}

/* footer bar */
.footerbar {
  font-size: 14px;
}

@media (max-width: 768px) {
  .footerColumn li {
    flex-basis: 33.3333%;
  }
}

/* -------------------------- */

